DATABASE_URL="file:./dev.db"
RUNPOD_API_KEY=""
RUNPOD_POD_ID=""
RUNPOD_APP_URL="https://PODID-3000.proxy.runpod.net"
RUNPOD_WEBUI_URL="https://PODID-7860.proxy.runpod.net"
APP_LOGIN_USER="user"
APP_LOGIN_PASSWORD="password"
SD_API_BASE_URL="http://127.0.0.1:17860"
SD_API_BASIC_USER=""
SD_API_BASIC_PASSWORD=""
APP_HOST="0.0.0.0"
APP_PORT="3000"
